include:
  - ./apps/airflow/docker-compose.yaml

services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:80"

  backend:
    build:
      context: apps/backend
    environment:
        - AIRFLOW_HOST=http://airflow-apiserver:8080
        - RESULTS_DIR=/app/results
    ports:
      - "8000:8000"
    volumes:
      - ./apps/airflow/results:/app/results
